<?php

use Phinx\Migration\AbstractMigration;

class $className extends AbstractMigration
{
    public function up()
    {
        $table = $this->table('$tableName');
    }
    
    public function down()
    {
        $this->table('$tableName')->drop()->save();
    }
}